@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Tektur:wght@600&display=swap');

body
{
    background-color: #122C34;
    font-family: "lexend",Arial, Helvetica, sans-serif;
}

.outside
{
    background-color: #D9D9D9;
    border-radius: 8px;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.inside
{
    background-color: #CDC0C0;
    border: none;
    border-radius: 8px;
    outline: none;
    width: 94%; 
    text-align: justify;
    margin-right: 1%;
}

button
{
    background-color: #CDC0C0;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.icon
{
    width: 30px;
    height: 30px;
}

label
{
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 2%;
}

.information
{
    text-align: center;
}

.user
{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 11%;
    padding-right: 11%;
}

.date
{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 11%;
    padding-right: 16%;
}

.massege
{
    text-align: justify;
    padding: 1% 1% 1% 1%;
    
}

.margin
{
    margin-top: 15%;
}
